<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Genel ayarlar -->
  <targets>
    <target name="file" xsi:type="File"
            fileName="${basedir}/App_Data/log-${shortdate}.txt"
            layout="${longdate} [${level:uppercase=true}] ${message} ${exception:format=toString}" />
  </targets>

  <!-- Kurallar -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
