@{
    ViewBag.Title = "Hata";
}

<div class="alert alert-danger mt-5 text-center">
    <h4 class="fw-bold">Üzgünüz, bir hata oluştu.</h4>
    <p>@TempData["ErrorMessage"]</p>
    <a href="/" class="btn btn-primary mt-3">Ana Sayfaya Dön</a>
</div>